<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ledtemplate</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ledtemplate</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>10pixel.ttf</string>
		<string>albertsans.ttf</string>
		<string>amaline.ttf</string>
		<string>anton.ttf</string>
		<string>beon.ttf</string>
		<string>betteroutline.ttf</string>
		<string>creepster.ttf</string>
		<string>crosseline.ttf</string>
		<string>dynapuff.ttf</string>
		<string>glowtone.otf</string>
		<string>honeyline.ttf</string>
		<string>klaxons.otf</string>
		<string>mali.ttf</string>
		<string>neonbines.ttf</string>
		<string>neonblitz.ttf</string>
		<string>neonderthaw.ttf</string>
		<string>neonlight.ttf</string>
		<string>neonsans.ttf</string>
		<string>pacifico.ttf</string>
		<string>playpensans.ttf</string>
		<string>rookworst.ttf</string>
		<string>ryga.ttf</string>
		<string>sunsetclub.ttf</string>
		<string>wednesline.ttf</string>
		<string>wonderfulaustralia.otf</string>
	</array>
</dict>
</plist>
